<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asistenciamovil">

    <!-- Permiso necesario para login web -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Permisos para la cámara (QR scanner) -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:label="Asistencias UTB"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Actividad principal de Flutter -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Intent para iniciar la app -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 🔹 Aquí se intercepta el redirect del navegador (flutter_appauth >= 5.0) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="${appAuthRedirectScheme}"
                    android:host="com.example.asistenciamovil"
                    android:path="/1f7MrQgTBTnvlZsLO%2BWw6gkuOo%3D"/>
            </intent-filter>

        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>
</manifest>
